asgiref
crispy-bootstrap5
distlib
dj-database-url
Django
django-crispy-forms
django-environ
django-humanize
filelock
humanize
pillow
platformdirs
psycopg2-binary
sqlparse
typing_extensions
tzdata
virtualenv
