{% extends "base.html"%}
{% block title %}Catagory{% endblock %}
{% block body %}
<div class="max-w-md mx-auto mt-10">
    <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <h2 class="text-2xl mb-4">Create a New Category</h2>
        <form method="post">
            {% csrf_token %}
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
                    Name
                </label>
                <input
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="name" name="name" type="text" placeholder="Category Name"
                    value="{{ form.name.value|default_if_none:'' }}">
                {% if form.name.errors %}
                <p class="text-red-500 text-xs italic">{{ form.name.errors }}</p>
                {% endif %}
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="slug">
                    Slug
                </label>
                <input
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="slug" name="slug" type="text" placeholder="Category Slug"
                    value="{{ form.slug.value|default_if_none:'' }}">
                {% if form.slug.errors %}
                <p class="text-red-500 text-xs italic">{{ form.slug.errors }}</p>
                {% endif %}
            </div>
            <div class="flex items-center justify-between">
                <button
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                    type="submit">
                    Create
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}